body {
	background-image : url("image.jpg");
	border-style: double;
	text-align: center;
}
h1 {
	font-size: 30px;
	color: black;
	border-style: dotted;
	margin: 5px 5px 5px 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
h3 {
	font-size: 30px;
	color: black;
	margin: 5px 5px 5px 5px;
	border-style: dotted;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
 p {
	 font-family: "handlee";
}